.action-buttons-container {
	padding: 20px;
	position: absolute;
	width: 100%;
	z-index: 0;
	border-top: solid 1px lightgray;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}
.action-buttons-container button {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	color: white;
}
.action-buttons-container button.new-record,
.action-buttons-container button.ok-btn {
	background-color: green;
}
.action-buttons-container button.delete-record {
	background-color: rgb(176, 13, 13);
}
.action-buttons-container button.save-record {
	background-color: rgb(8, 8, 176);
}
