.sales-entries-container {
	width: 97%;
	height: 97vh;
	background-color: white;
	padding: 40px;
	padding-bottom: 10px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	transition: 0.9s ease-in;
}
.sales-entry-table-container {
	display: flex;
	flex-direction: column;
	height: 85%;
	gap: 30px;
	padding-bottom: 40px;
	margin-top: 20px;
	overflow-y: auto;
}

/* detail hide button section */
.detail-hide-button-container {
	position: absolute;
	top: 0;
	right: 0;
}

.details-table-container table {
	width: 100%;
}
table,
th,
td {
	border-collapse: collapse;
	border: solid 1px black;
}

.details-table-container table thead tr:nth-child(1) {
	background-color: #8397af;
	color: white;
}

.details-table-container table thead tr th:nth-child(1) {
	width: 10%;
}
.details-table-container table tbody tr td:nth-child(1) {
	width: 10%;
}

.details-table-container table thead tr th:nth-child(2) {
	width: 20%;
}
.details-table-container table tbody tr td:nth-child(2) {
	width: 20%;
}

.details-table-container table thead tr th:nth-child(3) {
	width: 35%;
}
.details-table-container table tbody tr td:nth-child(3) {
	width: 35%;
}

.details-table-container table thead tr th:nth-child(4) {
	width: 10%;
}
.details-table-container table tbody tr td:nth-child(4) {
	width: 10%;
}

.details-table-container table thead tr th:nth-child(5) {
	width: 10%;
}
.details-table-container table tbody tr td:nth-child(5) {
	width: 10%;
}

.details-table-container table tr th {
	text-align: left;
	padding: 10px;
}
.details-table-container table tr td {
	padding: 10px;
}
.details-table-container table tr td:nth-child(1) {
	width: 8%;
}
.details-table-container table tr td:nth-child(3) {
	width: 45%;
}

.details-table-container table tr td:nth-child(4),
.details-table-container table tr td:nth-child(5),
.details-table-container table tr td:nth-child(6) {
	text-align: right;
}

.details-table-container table thead tr:nth-child(1).total-amout-row {
	background-color: white;
	color: black;
}
.details-table-container
	table
	thead
	tr:nth-child(1).total-amout-row
	th:nth-child(1) {
	width: 85%;
	text-align: right;
}
.details-table-container
	table
	thead
	tr:nth-child(1).total-amout-row
	th:nth-child(2) {
	width: 15%;
	text-align: right;
}

.details-table-container .body-table tr.table-row.is-selected {
	background-color: #dde5ef;
}

.no-record-message {
	padding: 60px;
	text-align: center;
}
.no-record-message button,
.table-add-new-record-and-cancel-container button {
	border: none;
	background-color: rgb(8, 108, 45);
	color: white;
	margin-top: 10px;
	font-size: 15px;
}
.no-record-message button:hover {
	outline: solid 2px rgb(17, 181, 77);
}

.table-add-new-record-and-cancel-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	margin-top: 20px;
}

.no-record-message h3 {
	margin-bottom: 30px;
}
.no-record-message button:nth-child(3) {
	margin-left: 30px;
}
.table-add-new-record-and-cancel-container button:nth-child(2),
.no-record-message button:nth-child(3) {
	background-color: rgb(139, 8, 8);
}

.table-add-new-record-and-cancel-container button:nth-child(1):hover {
	outline: solid 2px rgb(17, 181, 77);
}
.table-add-new-record-and-cancel-container button:nth-child(2):hover,
.no-record-message button:nth-child(3):hover {
	outline: solid 2px rgb(225, 79, 79);
}

/* form section */
.transaction-detail-form {
	padding: 30px;
	background-color: white;
	border-radius: 5px;
}

.new-record-save-button-container {
	padding: 20px;
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 10px;
}
.new-record-save-button-container button {
	padding: 5px 20px;
	border-radius: 3px;
	background-color: yellowgreen;
	font-size: 17px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.1s ease-out;
}
.new-record-save-button-container button:nth-child(2) {
	background-color: green;
}

.new-record-save-button-container button:hover {
	outline: solid 2px green;
}

.table-add-new-record-and-cancel-container button.save-record {
	background-color: rgb(8, 8, 176);
}
.table-add-new-record-and-cancel-container button.save-record:hover {
	outline: solid 2px rgb(67, 67, 236);
}

.table-add-new-record-and-cancel-container button.custom-button.print {
	background-color: rgb(8, 8, 176);
}
.table-add-new-record-and-cancel-container button.custom-button.print:hover {
	outline: solid 1px rgb(114, 114, 227);
}

@media print {
	.table-add-new-record-and-cancel-container {
		display: none;
	}
}
